<div class="TitleBar">
  <div class="header">
    <h1>{{title}}
      <button>Log In</button>
      <button>Sign Up</button>
    </h1> 
  </div>
 
  <nav>
    <ul>
      <li routerLinkActive="active"><a routerLink="Home">Home</a></li>
      <li routerLinkActive="active"><a routerLink="AllProducts">All Products</a></li>
      <li routerLinkActive="active"><a routerLink="Cart">Cart</a></li>
      <li routerLinkActive="active"><a routerLink="ContactUs">Contact</a></li>
      <li routerLinkActive="active"><a routerLink="About">About</a></li>
    </ul>
  </nav>
    <router-outlet></router-outlet>
</div>